#index_content.container
  #media_index
    #youtube
      %img{:src => "/assets/youtube_16.png", :style => "margin-bottom: 8px"}/
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "157", :src => "http://www.youtube.com/embed/SmrH7v1Ya-k", :width => "279"}
    
    #twitch
      %img{:src => "/assets/twitch.png", :style => "margin-bottom: 8px"}/
      %iframe#chat_embed{:frameborder => "0", :height => "157", :scrolling => "no", :src => "http://twitch.tv/chat/embed?channel=streamlgl&popout_chat=true", :width => "279"}

#partners.container
  %h1 PARTNERS
  %center
    %a{:href => "http://www.gamerdeal.tv", :target => :_blank }= image_tag "gamerdeal.png"
    %a{:href => "http://www.tiendadehippalus.com/", :target => :_blank }= image_tag "tienda.png"
    


