%h1 Raiz#index
%p ESTA WEA ES RAILS CONCHETUMADRE
= image_tag "rails.png"
%p Esta es la Pagina de los watones loleros asi que se viene
%a.btn.btn-primary Un Boton QL que no hace nada
%p
  = holder_tag '300x300', 'Un Holder Social Redondeado', 'social', :class => "img-rounded"
  = holder_tag '300x300', 'Un Holder Gris Circular', 'gray', :class => "img-circle"
  = holder_tag '300x300', 'Un Holder Industrial con bordes', 'industrial', :class => "img-polaroid"
%p
  Un lindo Icono dentro de un parrafo
  %i.icon-thumbs-up
%p Un Toolbar de Botones
.btn-toolbar
  .btn-group
    %a.btn
      %i.icon-align-left
    %a.btn
      %i.icon-align-center
    %a.btn
      %i.icon-align-right
    %a.btn
      %i.icon-align-justify

