%p.label.label-success Streams Oficiales
.row-fluid
  %ul.thumbnails
    - @streams.each do |stream|
      - if stream.oficial?
        %li
          %a.thumbnail= holder_tag "200x200", stream.title, "social"

%p.label Otros Streams
.row-fluid
  %ul.thumbnails
    - @streams.each do |stream|
      - if !stream.oficial?
        %li
          %a.thumbnail= holder_tag "200x200", stream.title, "social"
      
