%p.label.label-success Canal Comunidad
.row-fluid
  %ul.thumbnails
    %li
      %a.thumbnail
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "200", :src => "//www.youtube.com/embed/SmrH7v1Ya-k", :width => "280"}
        

%p.label.label-success Videos Youtube
.row-fluid
  %ul.thumbnails
    - @videos.each do |video|
    
      %li
        %a.thumbnail
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "200", :src => "//www.youtube.com/embed/#{video.youtubeid}", :width => "280"}
          
          
