%p.label.label-success Canal Comunidad
.row-fluid
  %ul.thumbnails
    %center
      %li
        %a.thumbnail
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/videoseries?list=UUUyHJZ5OW0S8mA54p8qj1ow", :width => "560", :style => "margin-top: 15px"}
          %br
          %br
          %iframe#fr{:frameborder => "0", :name => "fr", :scrolling => "no", :src => "http://www.youtube.com/subscribe_widget?p=lglcomunidad", :style => "overflow: hidden; height: 105px; width: 300px; border: 0;"}

%p.label.label-success Videos Youtube
.row-fluid
  %ul.thumbnails
    - @videos.each do |video|
    
      %li
        %a.thumbnail
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "200", :src => "//www.youtube.com/embed/#{video.youtubeid}", :width => "280"}
          
          
