#index_content{
  background-image: url('/assets/fondo.jpg');
  background-repeat: no-repeat;
  min-height: 460px;
  max-width: 940px;
}

#partners center{
  padding: 40px;
}

#media_index{
  height: 440px;
  width: 300px;
  float: right;
}

#youtube{
  height: 180px;
  width: 280px;
  background-color: #e6e6e6;
  padding: 10px;
}

#twitch{
  height: 180px;
  width: 280px;
  background-color: #e6e6e6;
  padding: 10px;
  margin-top: 40px;
}

